<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="siglaSistema" value="SGEMERJWEB" />
    <add key="VERSAOSISTEMA" value="1.1.0" />
	   
    <!-- 
          Ambiente do Sistema de Segurança
          1 para DSV
          2 para HML
          3 para PRD
      -->
    <add key="Ambiente" value="3" />
    <add key="DATAPROTECTION_HABILITADO" value="S" />
    <!-- Ambiente de Banco de Dados
         D - Desenvolvimento
         H - Homologação
         P - Produção
      -->
    <add key="AmbienteApp" value="P" />
	  
    <!-- Chave Usada para decriptar -->
    <add key="ChaveCriptografada" value="y+hgG3a8tZ66VDN02774eunidMzIk7EO,D0otbmr4hX4=" />
	  
    <!-- Configurações para token JWT -->
    <add key="issuer_jwt" value="SGEMERJWEB" />
    <add key="minute_jwt" value="10" />
	  
    <!-- Caminho para chegar ao arquivo TNSNAMES -->
    <add key="TNSADMIN" value="c:\oracle\network\admin" />
	  
    <!-- Desenvolvimento -->
    <add key="SenhaConexao.D" value="F4cyH6VDXBzzyqguZhhx3g==" />
    <add key="StringConexao.D" value="data source=DSV03;user id=EMERJ_PUC;password=#SENHA#;" />
	  <add key="urlValidaPermissao.D" value="http://wwwh1.tjrj.jus.br/hsegrest/api/permissao" />
	  
    <!-- Homologação -->
    <add key="SenhaConexao.H" value="F4cyH6VDXBzzyqguZhhx3g==" />
    <add key="StringConexao.H" value="data source=DSV03;user id=EMERJ_PUC;password=#SENHA#;" />
	  <add key="urlValidaPermissao.H" value="http://wwwh1.tjrj.jus.br/hsegrest/api/permissao" />
	  <add key="IntegracaoEsocial.H" value="https://wwwh3.tjrj.jus.br/hesocial.api/api/integrador/integrar/" />
    <add key="IntegracaoRelatorioEsocial.H" value="https://wwwh3.tjrj.jus.br/hesocial.api/API/publico/relatorio/dados/" />
	  <add key="IntegracaoRelatorioEsocialErros.H" value="https://wwwh3.tjrj.jus.br/hesocial.api/API/publico/relatorio/erros/" />
    <add key="MpsHeaderUserName.H" value="admin" />
    <add key="IntegracaoRelatorioEsocialCNPJ.H" value="35949858000181" />
    <!-- Produção -->
    <add key="SenhaConexao.P" value="SkGA+3iyv9EHp1yAtzJU7A==" />
    <add key="StringConexao.P" value="data source=TJ03;user id=EMERJ_PUC;password=#SENHA#;" />
	  <add key="urlValidaPermissao.P" value="http://www1.tjrj.jus.br/segrest/api/permissao" />
	  <add key="IntegracaoEsocial.P" value="https://www3.tjrj.jus.br/esocial.api/api/integrador/integrar/" />
	  <add key="IntegracaoRelatorioEsocial.P" value="https://www3.tjrj.jus.br/esocial.api/API/publico/relatorio/dados/" />
	  <add key="IntegracaoRelatorioEsocialErros.P" value="https://www3.tjrj.jus.br/esocial.api/API/publico/relatorio/erros/" />
    <add key="MpsHeaderUserName.P" value="emerj" />
    <add key="IntegracaoRelatorioEsocialCNPJ.P" value="35949858000181" />

    <!-- Miscelania -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	 <!-- Elastic Seach -->
    <add key="ElasticApm:ServiceName" value="SGEMERJWEB-Producao" />
    <add key="ElasticApm:ServerUrl" value="http://tjerj381avm.tj.rj.gov.br:8300" />
    <add key="ElasticApm:Environment" value="Producao" />
  </appSettings>
	
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly">
      <!-- Contorno técnico para acionamento tecla <F5> no front Angular
          Pois a infra não teve sucesso na instalação do modo de reescrita (URL WRITE no IIS) -->
      <error statusCode="404" redirect="~/app/index.html" />
    </customErrors>
  </system.web>
	
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!-- Liberado apenas para porta padrão Angular em localhost -->
        <!--<add name="Access-Control-Allow-Origin" value="http://localhost:4200" />-->
        <!-- Podem ser usados os headers: accept,content-type,origin,x-my-header -->
        <!--<add name="Access-Control-Allow-Headers" value="*" />-->
        <!-- Podem ser usados os verbos: GET, POST, PUT, DELETE, OPTIONS -->
        <!--<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
	<modules>
		<add name="ElasticApmModule" type="Elastic.Apm.AspNetFullFramework.ElasticApmModule, Elastic.Apm.AspNetFullFramework" />
	</modules>
  </system.webServer>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>